body 
{	
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: white;
	text-align: justify;
}
a:hover 
{
	color: black;
	text-decoration: none;

}
a:visited 
{
	color: black;
	text-decoration: none;
}
a:link 
{
	color: black;
	text-decoration: none;
}
a:active 
{
	color: black;
	text-decoration: none;
}
#loader
{
	background-color: black;
	opacity:0.5;filter:alpha(opacity=50);
	position: absolute;
	z-index: 200;
}
#alert_loader
{
	text-align: center;
	border: solid 0.5px black;
	width: 250px; 
	height: 50px;
	background-color: white;
	position: absolute;
	z-index: 201;
}
#fondo
{
	width: 100%;
	background-color: #B8D7F1;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B8D7F1', EndColorStr='#15497B');
}
#cabecera
{
	width: 100%;
	/* background-color: #B8D7F1; */
}
#panelCabDerecho
{
	padding: 20px;
	height: 60px;
}
#cabmenu
{
	width: 20%;
	float: left;
	padding-top: 20px;
	/* background-color: #B8D7F1; */
	/* height: 600px; */
}
.submenu_activo
{
	margin-top: 6px;
	padding: 1px;
	margin-left: 30px;
	height: 22px;
	/* width: 190px; */
	background-color: white;
	font-weight: bold;
	vertical-align: middle;
}
.submenu
{
	margin-top: 6px;
	padding: 1px;
	margin-left: 30px;
	height: 20px;
	/* width: 190px; */
	background-color: white;
	vertical-align: middle;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#D6EBFE', EndColorStr='white');
}
.menu_activo
{
	margin-top: 6px;
	padding: 3px;
	margin-left: 10px;
	height: 20px;
	/* width: 210px; */
	background-color: white; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#D6EBFE', EndColorStr='white');
}
.menu
{
	margin-top: 6px;
	padding: 3px;
	margin-left: 10px;
	height: 20px;
	/* width: 210px; */
	background-color: #B3D1EB;
}
#contenido
{
	/* top: 80px; */
	background-color: white;
	float: right;
	width: 80%;
}
#contenido_interior
{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
}
table
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: black;
	width: 100%;
}
.cabecera_tabla
{
	background-color: #B9D7EF;
}
.impar_tabla
{
	background-color: #EFEFEF;
}
.par_tabla
{
	background-color: #F6F6F6;
}
.flota_der
{
	float: right;
	text-align: right;
}
.flota_izq
{
	float: left;
	text-align: left;
}